@model CreateSocialMediaDto
@{
    ViewData["Title"] = "Create";
}

<h4 class="text-center text-secondary"> Sosyal Medya Ekleme İşlemi</h4>

<div class="container" style="max-width:800px">
    <hr />
    <form method="post" >
        <label class="form-label my-1"> Adı</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Sosyal Media Adı" />
        <span class="text-danger" asp-validation-for="Name"></span>
        <br />

        <label class="form-label my-1">İkon</label>
        <input class="form-control" asp-for="Icon" placeholder="İkon Giriniz" />
        <span class="text-danger" asp-validation-for="Icon"></span>
        <br />

        <label class="form-label my-1">Link</label>
        <input class="form-control" asp-for="Link" placeholder="Link Giriniz" />
        <span class="text-danger" asp-validation-for="Link"></span>
        <br />
        
        <label class="form-label my-1">Doktor</label>
        <select asp-items=@ViewBag.Doctors class="form-control" asp-for="Link" ></select>
        <span class="text-danger" asp-validation-for="DoctorId"></span>
        <br />

        
        <div class="d-flex justify-content-center my-3">
            <button type="submit" class="btn btn-primary me-2">
                <i class="fa-solid fa-plus"></i>
                Kaydet
            </button>
            <a asp-action="Index" class="btn btn-outline-secondary">
                <i class="fa-solid fa-arrow-left"></i>
                Listeye  Dön
            </a>
        </div>

    </form>
</div>

